/*
Copyright 2015 Kocsis Matyas <matyilona@openmaibox.org>

This file is part of MagicalOrarend.

MagicalOrarend is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

MagicalOrarend is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MagicalOrarend. If not, see <http://www.gnu.org/licenses/>.
*/

/*LISTS*/
.listclass {
	height:300px;
	position:relative;
}

.list{
	overflow : auto;
	height : 90%;
}

.search{
	height:10%;
	display:inline-block;
	position : relative;
	z-index : 100;
}

.szak, .kurzus {
	display:inline-block;
	width:60%
}

.szakazon, .kurzazon {
	display:inline-block;
	width:30%;
}

/*CLASSES*/
.fc-event{
	transition : opacity .5s, box-shadow 0.5s, text-shadow 0.5s;
}

.blur{
	box-shadow : -5px -5px 5px 1px black inset;
	opacity : 0.3;
}

.blur:hover{
	opacity : 0.5;
}

.blur2{
	text-shadow : 0px 0px 15px black;
	color : yellow;
}

/*FOOTER STUFF*/
footer{
	display : block;
	text-align : center;
	position : relative;
}

#mafihelogo {
	position : absolute;
	left : .5em;
	top : .5em;
	height : 90%;
}

#buttondiv {
	position : absolute;
	right : .5em;
	top : .5em;
}

/*OVERLAY STUFF*/
.invisible{
	display : none;
}

#load-overlay{
	position : fixed;
	top : 50%;
	width : 100%;
	z-index : 10000;
}

.sl-overlay{
	position : absolute;
	text-align : center;
	width : 30%;
	left : 35%;
}

/*POPOVER STUFF*/
.popover-title{
	font-weight : bold;
}

.prop-header, .prop-content{
	margin-bottom : 0em;
	margin-top : 0em;
}

.prop-content{
	text-align : right;
}

.elogyak{
	text-align : center;
}
	
